body{
    font-family: 'Poppins', sans-serif;
}


.hero-image{
    width: 1000px;
    height: 450px;
    background-size: cover;
    border-radius: 30px;
}

.navbar-brand, .Brand{
    font-size: 30px;
    font-family: 'Satisfy', cursive;
    font-weight: bold;
}

.Brand{
    font-size: 60px;
    font-family: 'Satisfy', cursive;
    font-weight: bold;
}